.jumbotron {
  background-color: brown;
}

body {
  background-color: tan;
}

<<<<<<< HEAD
img {
  padding-top: 50px;
  width: 500px;
}

#customizePizza {
  align-items: center;
}

=======
>>>>>>> master
input {
  display: block;
}
